.weatherForm {
  display: flex;
  width: 70%;
  height: 450px;
  margin: 100px auto;
}

.weatherFormInfo {
  background-color: rgba(202, 187, 168, 0.253);
  width: 60%;
  display: flex;
  align-items: flex-end;
  color: rgb(7, 7, 7);
}

.inputFormInfo {
  background-color: rgba(17, 17, 17, 0.637);
  width: 40%;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.inputFormSearch {
  display: flex;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.inputFormSearch input {
  width: 90%;
  font-size: 15px;
  background-color: rgba(184, 184, 184, 0.521);
  border: 2px solid rgba(0, 0, 0, 0.541);
  /* height: auto; */
}
.inputFormSearchIcon {
  background-color: rgba(109, 109, 109, 0.884);
  padding: 7px;
}
.createLine {
  margin-top: 10px;
  width: 100%;
  border: 1px solid rgba(185, 184, 184, 0.822);
}
.inputFormweatherDetails {
  margin-top: 20px;
  margin-bottom: 20px;
}
.weatherDetails {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}
.options {
  color: rgb(189, 189, 184);
}
.value {
  color: rgb(235, 235, 231);
}
.sunny {
  background-image: url('/public/image/clear.jpg');
  background-size: cover;
  background-position: center;
}
.clouds {
  background-image: url('/public/image/clouds.jpg');
}
.rain {
  background-image: url('/public/image/rain.jpg');
}
.storm {
  background-image: url('/public/image/thunderstorm.jpg');
}
.snow {
  background-image: url('/public/image/snow.jpg');
}
.foggy {
  background-image: url('/public/image/mist.jpg');
}
.default {
  background-image: url('/public/image/mist.jpg');
}
.weatherFormInfoValue {
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
  height: 80px;
  width: 100%;
  gap: 20px;
}
.weatherTemp {
  font-size: 20px;
}

.weatherCity {
  width: 30%;
  margin-right: 50px;
}
.weatherCityInfo {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.weatherCityInfo p {
  font-size: 12px;
}
.weatherTemp {
  font-size: 30px;
}
.weatherIcon {
  margin-top: 15px;
}
